<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head")%>
<body>
        <header class="navContainer">
            <%- include("partials/header.ejs") %>
        </header>
        <section id="mainContainer" class="mainContainer" style="width: 100%;">
            <div class="titulo">
                <h1 class="text-center m-4"><%= plan.titulo %> </h1>
            </div>
            <div class="containerVideo d-flex flex-column justify-content-center align-items-center">
                <video
                id="my-video"
                class="video-js"
                controls
                preload="auto"
                width="640"
                height="264"
                poster=""
                data-setup="{}"
              >
                <source src="../../<%= videoPlan.video %>" type="video/mp4" />
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a
                  web browser that
                  <a href="https://videojs.com/html5-video-support/" target="_blank"
                    >supports HTML5 video</a
                  >
                </p>
              </video>


                <!-- <iframe width="280" height="500" src="../../<%= videoPlan.video %>" frameborder="0" allowfullscreen></iframe> -->
                <div class="card text-center mb-3 m-4" style="width: 26rem;">
                    <div class="card-header text-white">
                        <h5 class="card-title"><%= plan.titulo %></h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text"><%- plan.acceso %></p>
                      <p class="card-text">$<%= toThousand(plan.precio) %></p>
                      <a href="https://wa.me/54299155782703/?text=hola%20me%20intersa%20su%20plan%20<%-plan.titulo%>" class="btn btn-primary" target="_blank">Comprar</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="m-3">
            <%- include("partials/acordionDetailPlan.ejs") %>
        </section>
        <%- include("partials/footer.ejs") %>
        <script defer type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script defer nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script defer src="/js/headerNav.js"></script>
        <script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>
</body>
</html>