<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head")%>
  <body>
    <header class="navContainer"><%- include("partials/header.ejs") %></header>
    <section id="mainContainer" class="mainContainer">
      <article
        class="d-flex flex-column align-items-center contenedorCard m-3"
      >
        <h2 class="text-center fw-bold text-bordo"><%= plan.titulo %></h2>
        <div class="row align-items-center justify-content-evenly flex-wrap">
          <div class="col-md-6 text-center mb-4 mb-md-0 contedorImagen">
            <img
              src="<%= plan.imagen %>"
              alt="Plan de entrenamiento"
              class="img-fluid rounded shadow"
            />
          </div>

          <div class="col-md-6 text-center text-md-start">
            <h5 class="text-color-cafe fw-bold mb-3">mas detalles</h5>
            <p class="text-muted">
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de texto. Lorem Ipsum ha sido el texto de relleno
              estándar de las industrias desde el año 1500, cuando un impresor
              (N. del T. persona que se dedica a la imprenta) desconocido usó
              una galería de textos y los mezcló de tal manera que logró hacer
              un libro de textos.
            </p>
          </div>
        </div>
      </article>
    </section>
      <section id="precios" class="text-center mt-5 precios">
        <h2 class="text-bordo fw-bold mb-4">Precios</h2>
        <% if (!plan.dias) { %>
          <div  id="planUnico" class="bg-success-subtle p-3 rounded w-75 mx-auto precio-card" data-precio="<%= plan.precio %>">
            <h5 class="text-orange fw-bold">
              <%= plan.acceso %>
            </h5>
            <p class="text-dark fw-semibold">
              $<%= plan.precio.toLocaleString() %>
            </p>
        
            <p>Elije el modo de pago</p>
            <div class="form-check text-start">
              <input class="form-check-input" type="radio" name="pagoUnico" id="transfUnico">
              <label class="form-check-label" for="transfUnico">Transferencia</label>
            </div>
            <div class="form-check text-start">
              <input class="form-check-input" type="radio" name="pagoUnico" id="efectivoUnico">
              <label class="form-check-label" for="efectivoUnico">Efectivo</label>
            </div>
            <div class="form-check text-start mb-2">
              <input class="form-check-input" type="radio" name="pagoUnico" id="depositoUnico">
              <label class="form-check-label" for="depositoUnico">Depósito</label>
            </div>
        
            <button class="btn btn-warning seleccionarBtn" data-precio="<%= plan.precio %>">
              Seleccionar este plan
            </button>
          </div>
        <% } else { %>
        <div id="preciosContainer" class="d-flex flex-column gap-3 align-items-center preciosContainer">
      
          <% for(let i = 0; i < plan.dias.length; i++) { %>
            <div class="bg-success-subtle p-3 rounded w-75 precio-card" data-precio="<%= plan.precio[i] %>">
              <h5 class="text-orange fw-bold"><%= plan.dias[i] %> VECES POR SEMANA</h5>
              <p class="text-dark fw-semibold">$<%= plan.precio[i].toLocaleString() %></p>
              <p>Elije el modo de pago</p>
      
            <div class="form-check text-start">
              <input class="form-check-input" type="radio" name="pago<%= i %>" id="transf<%= i %>">
              <label class="form-check-label" for="transf<%= i %>">Transferencia</label>
            </div>
            <div class="form-check text-start">
              <input class="form-check-input" type="radio" name="pago<%= i %>" id="efectivo<%= i %>">
              <label class="form-check-label" for="efectivo<%= i %>">Efectivo</label>
            </div>
            <div class="form-check text-start mb-2">
              <input class="form-check-input" type="radio" name="pago<%= i %>" id="deposito<%= i %>">
              <label class="form-check-label" for="deposito<%= i %>">Depósito</label>
            </div>
    
            <button class="btn btn-warning seleccionarBtn" data-precio="<%= plan.precio[i] %>">
              Seleccionar este plan
            </button>
          </div>
        <% } %>
      </div>
      <% } %>
      <a id="whatsappBtn"
         target="_blank" 
         class="btn btn-success mt-4">
        Quiero reservar 
      </a>
    </section>
    
    <section class="m-3">
      <%- include("partials/acordionDetailPlan.ejs") %>
    </section>
    <%- include("partials/footer.ejs") %>
    <script
      defer
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      defer
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script defer src="/js/headerNav.js"></script>
    <script defer src="/js/detailPlan.js"></script>
    
  </body>
</html>
