<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head")%>
<body>
    <div class="navContainer">
        <%- include("partials/header.ejs") %>
    </div>
    <div id="mainContainer" class="mainContainer">
      <%- include("partials/seccioneBanner")%>
        <div>
            <h2 class="fw-bold text-center m-2" style="text-shadow: 0 2px 5px #FF914D;">Planes Aqui!</h2>
            <div class="d-flex flex-column  p-3 mb-3 justify-content-center align-items-center planesSeccion">
              <%- include('partials/cardPlanes.ejs')%>
            </div>
        </div>
        <div id="seccionSobreMi" class="p-3 aboutMeSeccion d-flex justify-content-center" style="width: 100%;">
           <div class="card mb-3" style="max-width: 1000px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="images/imagen19.webp" class="img-fluid rounded-start" alt="Mariana Cabeda Profesora Fitness">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-center text-decoration-underline underlined">Conoceme!</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium maxime recusandae excepturi consectetur, quam, blanditiis non dolorem nemo velit esse fugiat iusto incidunt, atque accusamus. Reiciendis mollitia magnam aperiam corporis. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis vero officia architecto quo asperiores quidem, aperiam sint totam ipsam fugit. Facilis nostrum omnis amet mollitia inventore aliquam possimus vel perferendis? <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, dolorum pariatur quis aspernatur quam nam unde vitae praesentium recusandae rem magnam dignissimos quaerat dolore molestiae ratione rerum quasi qui sit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column m-3">
          <h2 id="seccionPreguntas" class="text-center fw-bold">Preguntas Frecuentes</h2>
           <%- include("partials/preguntaFrecuentes.ejs")%>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column style="background-color:chocolate; width: 100%;
        height: 300px;">
            <h2 id="seccionContacto" >Contactos</h2>
            <div class="container-md">
              <p class="text-center">
                Estaremos respondiendo sus consultas en el horiario de atención de Lunes a Sábados de 8 a 17 hs.
              </p>
              <ul class="d-flex justify-content-center align-items-center" style="padding-left: 0;">
                <li class="m-3" style=" list-style-type: none;">
                  <a href="https://www.instagram.com/fieras_fitness/" target="_blank" rel="noopener noreferrer">
                    <ion-icon class="fs-2" name="logo-instagram"></ion-icon>
                  </a>
                </li>
                <li class="m-3" style=" list-style-type: none;">
                  <a href="https://wa.me/54299155782703/?text=hola%20me%20intersa%20su%20plan" target="_blank" rel="noopener noreferrer">
                    <ion-icon class="fs-2" name="logo-whatsapp"></ion-icon>
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/js/headerNav.js"></script>
</body>
</html>