<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head")%>
  <body>
    <div class="navContainer"><%- include("partials/header.ejs") %></div>
    <div id="mainContainer" class="mainContainer">
      <%- include("partials/seccioneBanner")%>
      <div>
        <h2
          class="fw-bold text-center m-2"
          style="text-shadow: 0 2px 5px #ff914d"
        >
          Planes Aqui!
        </h2>
        <div
          class="d-flex flex-column p-3 mb-3 justify-content-center align-items-center planesSeccion"
        >
          <%- include('partials/cardPlanes.ejs')%>
        </div>
      </div>
      <%- include("partials/seccionSobreMi")%>
      <div class="contenedorTestimonio">
        <%- include("partials/seccionTestimonios")%>
      </div>
      <div
        class="d-flex justify-content-center align-items-center flex-column m-3"
      >
        <h2
          id="seccionPreguntas"
          class="text-center fw-bold seccionPreguntasFrecuentes"
        >
          Preguntas Frecuentes
        </h2>
        <%- include("partials/preguntaFrecuentes.ejs")%>
      </div>
      <%- include("partials/contacto")%>
    </div>
    <%- include("partials/footer.ejs") %>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="/js/headerNav.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/js/carusel.js"></script>
  </body>
</html>
